<html>

<head>
<style>

</style>

</head>

<body>

   <div id="d">
	<img class="login" src="{{imglogin}}">
	<form>
	
		<p> <img src="{{imgusername}}">  
		<input type="text" placeholder="enter username" name="username" [(ngModel)]="user.username"></p>
		
		<p> <img src="{{imgpassword}}">
		<input type="password" placeholder="enter password" name="password" [(ngModel)]="user.password"></p>

		<h4>Select Subject:</h4>
        <select name="subject" name="subject" [(ngModel)]="subject" >

                <option *ngFor="let subject of subjects" value="{{subject}}">{{subject}}</option>
            
        </select><br><br>
		<span style="color: red;font-size: large;">{{message}}</span><br>
		
		<button (click)="validate()" ><b>Login</b></button> 
	</form>
</div>
</body>
</html>
