#a{
    display: flex;
    justify-content: space-around;
}

table,th,td
{
    border:1px solid black;
}

th,td
{
    padding: 10px;
}

table
{
    margin: auto;
}


input[type='button']{
    color: bisque;
    font-size: 20px;
    background-color: rgba(5, 3, 3, 0.867);
    height: 40px;
    width: 100px;
}


b{
    padding-right: 10px;
    padding: 20px;
}